<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quest rooms</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  

    <div class="container">
        @RenderBody()
        <footer>
            <p class="font-weight-bold" >&copy; @DateTime.Now.Year - STIOPKO LTD</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>