@model QuestRooms.UI.Models.UserLogInModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1 class="text-center font-weight-bold">Register</h1>
</header>
<section class="row">

    @using (Ajax.BeginForm("LogIn", "Account", new AjaxOptions { OnSuccess = "CompleateLogInResult" }))
    {
        <h4 class="text-center font-weight-bold text-danger" id="error"></h4>
        <label>
            <p class="label-txt">ENTER YOUR EMAIL</p>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input" } })
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <br>
        <label>
            <p class="label-txt">ENTER YOUR PASSWORD</p>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input", @type = "password" } })
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <br>
        <button type="submit" class="btn btn-success">LogIn</button>
        @Html.ActionLink("Back", "Index", "QuestRooms", null, new { @class = "btn btn-primary" });
    }


</section>

