@model object
@using Microsoft.AspNet.Identity
@{

    ViewBag.Title = "All";
}

<header>
    <h1 class="text-center font-weight-bold">Quest rooms</h1>
   
</header>
<section class="row">
    @if (!User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("LogIn", "LogIn", "Account", null, new { @class = "col-1 offset-9 btn btn-success" })
        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "col-1 offset-1 btn btn-primary" })
    }
    else
    {
        @Html.ActionLink("Exit", "LogOut", "Account", null, new { @class = "col-2 offset-10 btn btn-primary" })
    }
    @{
        Html.RenderPartial("GetQuestRooms", Model);
    }
</section>

